--2018-12-19 09:48:09--  https://raw.githubusercontent.com/github/gitignore/master/Node.gitignore
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.192.133, 151.101.128.133, 151.101.64.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.192.133|:443... connected.
HTTP request sent, awaiting response... 
  HTTP/1.1 200 OK
  Content-Type: text/plain; charset=utf-8
  Content-Security-Policy: default-src 'none'; style-src 'unsafe-inline'; sandbox
  Strict-Transport-Security: max-age=31536000
  X-Content-Type-Options: nosniff
  X-Frame-Options: deny
  X-XSS-Protection: 1; mode=block
  ETag: "6214c438c4e3a010650411970e3737a561455f49"
  Cache-Control: max-age=300
  X-Geo-Block-List:
  X-GitHub-Request-Id: 67A6:186F:8F8382:9273F1:5C19A336
  Content-Length: 1151
  Accept-Ranges: bytes
  Date: Wed, 19 Dec 2018 01:48:09 GMT
  Via: 1.1 varnish
  Connection: keep-alive
  X-Served-By: cache-sin18032-SIN
  X-Cache: HIT
  X-Cache-Hits: 1
  X-Timer: S1545184090.770715,VS0,VE1
  Vary: Authorization,Accept-Encoding, Accept-Encoding
  Access-Control-Allow-Origin: *
  X-Fastly-Request-ID: 35eef9d5a9fb7c55f13053da4ea22498f6638f18
  Expires: Wed, 19 Dec 2018 01:53:09 GMT
  Source-Age: 34
Length: 1151 (1.1K) [text/plain]
Saving to: ‘Node.gitignore’

     0K .                                                     100%  160M=0s

Last-modified header missing -- time-stamps turned off.
2018-12-19 09:48:09 (160 MB/s) - ‘Node.gitignore’ saved [1151/1151]

